
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poltawski+Nowy&family=Raleway:wght@200&family=Roboto:wght@100;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Raleway', sans-serif;
}


nav {
  background-color: #f1f1f1;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav li {
  padding: 0.5em;
}

.website-banner {
  text-align: center;
  padding: 2em;
}

.intro-title {
  text-align: center;
  padding: 2em;
  font-size: 1.5em;
}

.header-intro-title {
  padding: 0.5em;
}

hr {
  margin-left: 30%;
  margin-right: 30%;
}

footer {
  text-align: center;
}

.ftr-txt {
  padding: 1em;
}

.ftr-sub-text {
  padding: 1em;
}

